<%- include("partials/header"); -%>


  <h1>Home</h1>
<p>
  <%= homeStartingContent %>
</p>
<p>

<%  posts.forEach(function (post){ %>
<%  console.log(post.title); %>
<% }) %>

</p>




<%- include("partials/footer"); -%>
